:root {
  --Primary-color: rgb(2, 130, 249);
}
/*VARIABILI*/

header .nav-link {
  color: black;
}

header .nav-link:hover {
  color: var(--Primary-color);
}
/*HEADER COMPONENT*/

.cartoon-banner {
  min-height: 20rem;
  background-image: url("./assets/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*CARTOON-BANNER COMPONENT*/

.BannerMain {
  background-color: var(--Primary-color);
}

.ImgBannerMain {
  width: 20.5%;
}

.SpanBannerMain {
  padding-left: 0.75rem;
}

#ImgVisa {
  width: 13%;
}

#ImgLocator {
  width: 13%;
}
/*BANNER-MAIN COMPONENT*/

.wrap-row {
  max-width: 50%;
  position: relative;
}

.row .col-4:last-child {
  position: absolute;
  top: 17.5rem;
}

.col-4 a {
  text-decoration: none;
  color: grey;
}

.col-4 a:hover {
  color: white;
}

.HeroFooter {
  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-hero {
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  bottom: 2rem;
  background-image: url("./assets/img/dc-logo-bg.png");
}
/*FOOTER-HERO COMPONENT*/

.SocialFooter {
  background-color: rgba(48, 48, 48);
}

.SocialFooter .btn {
  color: white;
  border: 2px solid var(--Primary-color);
  border-radius: 0%;
}

.right-footer a {
  color: var(--Primary-color);
  text-decoration: none;
}
/*SOCIAL-FOOTER COMPONENT*/

#row-comics {
  max-width: 100%;
}

#comic-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.card {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.card-body {
  background-color: transparent !important;
  padding: 0.75rem 0;
}

.card-img-top {
  border-radius: 0 !important;
  border: none !important;
}

.card-title {
  color: white !important;
  text-align: start;
}

#badge {
  background-color: var(--Primary-color);
  border-radius: 0%;
  position: relative;
  bottom: 47.6rem;
  right: 43.5rem;
  padding: 0.45rem;
}

#btn {
  background-color: var(--Primary-color);
  color: white;
  border-radius: 0;
}
/*MAIN COMPONENT*/
