:root {
  --Primary-color: rgb(2, 130, 249);
}

header .nav-link {
  color: black;
}

header .nav-link:hover {
  color: var(--Primary-color);
}

.BannerMain {
  background-color: var(--Primary-color);
}

.ImgBannerMain {
  width: 20.5%;
}

.SpanBannerMain {
  padding-left: 0.75rem;
}

#ImgVisa {
  width: 13%;
}

#ImgLocator {
  width: 13%;
}

.row {
  max-width: 50%;
  position: relative;
}

.row .col-4:last-child {
  position: absolute;
  top: 17.5rem;
}

.col-4 a {
  text-decoration: none;
  color: grey;
}

.col-4 a:hover {
  color: white;
}

.HeroFooter {
  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-hero {
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 20.5rem;
  bottom: 2rem;
  background-image: url("./assets/img/dc-logo-bg.png");
}

.SocialFooter {
  background-color: rgba(48, 48, 48);
}

.SocialFooter .btn {
  color: white;
  border: 2px solid var(--Primary-color);
  border-radius: 0%;
}

.right-footer a {
  color: var(--Primary-color);
  text-decoration: none;
}

.cartoon-banner {
  min-height: 20rem;
  background-image: url("./assets/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
